-now_playing = locals[:now_playing]

%h2#now-playing-heading Movies Now Playing
.center-block
  -now_playing.first(20).each do |movie|
    %a{:href => "/movie/#{movie['id']}"}
      %img{ :src => "http://image.tmdb.org/t/p/w154/#{movie['poster_path']}"}