-now_playing = locals[:now_playing]

.well.well-lg
  %h2 Movies Now Playing
  -now_playing.first(20).each do |movie|
    %a{:href => "http://tmdb.org/movie/#{movie['id']}"}
      %img{ :src => "http://image.tmdb.org/t/p/w154/#{movie['poster_path']}"}