-movies = locals[:movies]
-people = locals[:people]

.well.well-lg
  %div{:role => "tabpanel"}
    / Nav tabs
    %ul.nav.nav-tabs#search-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "movies", "data-toggle" => "tab", :href => "#movies-tab-pane", :role => "tab"} Movies
      %li{:role => "presentation"}
        %a{"aria-controls" => "people", "data-toggle" => "tab", :href => "#people-tab-pane", :role => "tab"} People
    / Tab panes
    .tab-content
      #movies-tab-pane.tab-pane.fade.in.active{:role => "tabpanel"}
        / Movie search results go here
        %h4 Movie Results
        %br
        %ul.list-group
          / Dynamically list movie results here
          -movies.each do |movie|
            %li #{movie.title}

      #people-tab-pane.tab-pane.fade{:role => "tabpanel"}
        / People search results go here
        %h4 Person Results
        %br
        %ul.list-group
          / Dynamically list person results here
          -people.each do |person|
            %li #{person.name}


:javascript

  // Javascript for changing between tabs
  $(document).ready(function(){ 
      $("#search-tabs li:eq(1) a").tab('show');
  });
