-popular_showss = locals[:popular_showss]

%h2#popular-shows-heading Popular TV Shows
.center-block
  -popular_shows.first(20).each do |show|
    %a{:href => "/tv/#{show['id']}"}
      %img{ :src => "http://image.tmdb.org/t/p/w154/#{show['poster_path']}"}