body {
	background-image: url("/images/bg-linen.png");
	background-attachment: fixed;
	padding-top: 70px !important;
}

h2#now-playing-heading,
  #popular-movies-heading,
  #popular-people-heading{
	 color: lightgrey !important;
  }

.cast-image {
  height: 100px;
}